.nav__logo {
  position: relative;
  left: -50px;
  top: 0;
  max-width: 105px;
  max-height: 39px;
}

.nav__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 30px;
  right: 80px;
  column-gap: 20px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.nav__link:hover {
  color: #2f80ed;
}
